body {
    font-size: 12pt;
    font-family: 'Trebuchet MS';
    margin:0px; 
    background-color: #88CCCC; 
    
    
}


.doc
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.poem
{
    margin-left: .5in;
    font-style: italic;
}
table {
    border: 6px;
    width: 660px;
    border-style: solid;
    border-color: #444444;
    table-layout: fixed;
    
}

td {
    padding: 3px;  
    vertical-align: top;
    text-align:center;    
}

.hours {
    width:60px;
}

.weekday {
    width: 120px;
}

.lifting {
    background-color: orange;
    border-color:orange ;
    border-width: 2px;
    border-style: solid;
    word-wrap:break-word;
}

.network{
    background-color:greenyellow;
    border-color: greenyellow;
    border-width: 2px;
    border-style: solid;
    word-wrap:break-word;
}

.mobile {
    background-color: #FFCCCC;
    border-color: #FFAAAA;
    border-width: 2px;
    border-style: solid;
    word-wrap:break-word;
}

.OS
 {
    background-color: #AAFFFF;
    border-color: #88CCCC;
    border-width: 2px;
    border-style: solid;
    word-wrap:break-word;
}

.practice {
    background-color: red;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    word-wrap:break-word;
}
.web {
    background-color:white;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    word-wrap:break-word;
}

th  {
    background-color: #aaaaaa;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }


  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  
 
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }